<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <h1 class="saludo-main">Inicia sesión</h1>
    <main>
        <img src="/images/node.jpg" alt="node">
        <form action="/admin" method="GET">
            <label for="user">Usuario:
                <input type="text" name="user" id="user">
            </label>
            <button type="submit">Aceptar</button>
        </form>
    </main>
</body>
</html>